a {
  color: #be6767;
}

.color-primary {
  color: #be6767 !important;
}

.with-square:before {
  background-color: #be6767;
}

.my-btn-primary {
  border: 1px solid #be6767;
  background-color: #be6767;
}

.my-btn-primary:hover {
  color: #be6767;
}

.btn-primary {
  background-color: #be6767;
  border-color: #be6767;
}

.btn-primary.disabled {
  background-color: #8d6666;
}

input[type=text],
input[type=password],
textarea {
  background-color: #8d6666;
}

.pagination .active a {
  background-color: #be6767;
  border-color: #be6767;
}

.pagination .active a:hover,
.pagination .active a:focus {
  background-color: #be6767;
  border-color: #be6767;
}

.breadcrumb > li > a:hover,
.breadcrumb > li > a:focus {
  color: #be6767;
}

.breadcrumb > .active {
  color: #be6767;
}

.my-blockquote {
  background-color: #885e5e;
}

.my-blockquote-quote div {
  background-color: #be6767;
}

.media-body-top .media-info .media-date {
  color: #be6767;
}

.media-body-top .media-reply .my-btn-default {
  color: #be6767;
  border-color: #be6767;
}

.media-body-top .media-reply .my-btn-default .my-btn-bg-top,
.media-body-top .media-reply .my-btn-default .my-btn-bg-bottom {
  background-color: #be6767;
}

.media-body-top .media-reply .my-btn-default:hover {
  border-color: #be6767;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  border-left-color: #be6767;
}

.top-bar {
  background-color: #be6767;
}

.main-menu .navbar-nav > li > a:hover,
.main-menu .navbar-nav > li > a:focus {
  color: #be6767;
}

.main-menu .navbar-nav > li > a.active {
  color: #be6767;
}

.main-menu .navbar-nav > li.active > a {
  color: #be6767;
}

.main-menu .dropdown-menu {
  background-color: #be6767;
}

.main-menu .dropdown-menu > li > a:hover,
.main-menu .dropdown-menu > li > a:focus {
  color: #be6767;
}

.main-menu .dropdown-menu > li > a.active {
  color: #be6767;
}

.main-menu .dropdown-menu > li.active > a {
  color: #be6767;
}

.main-menu .dropdown-menu:after {
  border-bottom-color: #be6767;
}

.main-slider .my-btn-default {
  border-color: #be6767;
}

.main-slider .my-btn-default .my-btn-bg-top,
.main-slider .my-btn-default .my-btn-bg-bottom {
  background-color: #be6767;
}

.service-mark {
  background-color: #be6767;
}

.service-mark .my-btn-default .my-btn-bg-top,
.service-mark .my-btn-default .my-btn-bg-bottom {
  background-color: #be6767;
}

.service-mark-border-top {
  background-color: #be6767;
}

.service-mark-border-right {
  background-color: #be6767;
}

.service-mark-border-bottom {
  background-color: #be6767;
}

.service-mark-border-left {
  background-color: #be6767;
}

.section-bg-right {
  background-color: #be6767;
}

.get-quote {
  background-color: #be6767;
}

.home-review-carousel-quote div {
  background-color: #be6767;
}

.stat-item-icon {
  background-color: #be6767;
}

.stat-item-mark {
  background-color: #be6767;
}

.home-blog-item-desc-info .comments-icon {
  color: #be6767;
}

.home-blog-item-mark {
  background-color: #be6767;
}

.home-blog-item-mark .home-blog-item-date {
  background-color: #be6767;
}

.home-blog-item-mark .home-blog-item-desc {
  background-color: #be6767;
}

.home-subscribe {
  background-color: #be6767;
}

.home-subscribe-form-button .my-btn-primary {
  background-color: #8d6666;
}

.bottom .color-primary a {
  color: #be6767;
}

.service-menu > li > a:hover,
.service-menu > li > a:focus {
  background-color: #be6767;
}

.service-menu > li.active > a {
  background-color: #be6767;
}

.service-detail .service-related h3 a:hover,
.service-detail .service-related h3 a:focus {
  color: #be6767;
}

.about-text h2:before {
  color: #be6767;
}

.team-item-image-overlay {
  background-color: #be6767;
}

.team-item:hover .team-item-name {
  color: #be6767;
}

.blog-item-info .author-icon {
  color: #be6767;
}

.blog-item-info .date-icon {
  color: #be6767;
}

.blog-item-title h3:before {
  background-color: #be6767;
}

.blog-item-mark .blog-item-date {
  background-color: #be6767;
}

.blog-right-bar-item:before {
  background-color: #be6767;
}

.blog-right-bar input {
  background-color: #ffffff;
  border: 1px solid #eee;
  width: 100%;
}

.blog-right-bar ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #3e4f59;
}

.blog-right-bar :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #3e4f59;
  opacity: 1;
}

.blog-right-bar ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #3e4f59;
  opacity: 1;
}

.blog-right-bar :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3e4f59;
}

.recent-post-date .date-icon {
  color: #be6767;
}

.blog-categories li a:hover,
.blog-categories li a:focus {
  color: #be6767;
}

.blog-categories li.active a {
  color: #be6767;
}

.blog-tags a.active {
  background-color: #be6767;
}

.blog-tags a:hover,
.blog-tags a:focus {
  background-color: #be6767;
}

.single-post-date {
  background-color: #be6767;
}

.single-post-info .author-icon {
  color: #be6767;
}

.single-post-info .date-icon {
  color: #be6767;
}

.single-post-title h3:before {
  background-color: #be6767;
}

.single-post-author-info-socials .my-btn-default .my-btn-bg-top,
.single-post-author-info-socials .my-btn-default .my-btn-bg-bottom {
  background-color: #be6767;
}

.single-post-author-info-socials .my-btn-default:hover {
  border-color: #be6767;
}

.single-post-comments h3:before {
  background-color: #be6767;
}

.single-post-leave-comment h3:before {
  background-color: #be6767;
}

.contacts-info-title {
  background-color: #be6767;
}

.contact-details {
  background-color: #be6767;
}

.contact-detail-mark .contact-detail-icon {
  color: #be6767;
}

.contact-detail-mark .contact-detail-title h3:before {
  background-color: #be6767;
}

.slide-menu .close-menu:hover {
  color: #be6767;
}

.slide-menu .left-menu > li > a:hover,
.slide-menu .left-menu > li > a:focus {
  color: #be6767;
}

/*# sourceMappingURL=green.css.map */
